= render "shared/left_area"

#right_area
  #about_text_heading 业务记录
  #heading
    .td_1 业务名称
    .td_2 业务进度
    .td_3 投诉
    .td_4 评分
  %section#tbody
    = render 'tbody'

  #paginator
    = render 'paginator'


= content_for :head do
  = stylesheet_link_tag '/javascripts/star-rating/jquery.rating.css', :media => 'screen'

= content_for :javascript do
  = javascript_include_tag "star-rating/jquery"
  = javascript_include_tag "star-rating/jquery.rating"
  :javascript
    $(document).ready(function() {
      $('.auto-submit-star').rating({
        callback: function(value, link){
          alert(value)
        }
      })
    })

