%header.container_12.clearfix
  .grid_12
    %h1= t("web.page.show", :model => resource_class.model_name.human)

%section.container_12.clearfix
  .portlet.grid_12
    %header
      %h2= resource.title rescue resource.name
      - unless @show_colorbox
        = link_to t("web.page.back_to_list"), [:admin, resource_class.name.underscore.pluralize], :class => "button"
        - if can? :update, resource
          = link_to t("web.page.edit_this"), [:edit, :admin, resource], :class => "button"
    %section
      = show_for resource do |business|
        = business.attributes :id, :name
        = business.attribute :body do
          = raw resource.body
        = business.attributes :editor_name, :service_name, :service_department_name,
                              :state_text,
                              :assigner_name, :accepter_name, :assign_remark, :assign_at,
                              :solution, :accept_at,
                              :result, :finish_at
        = business.attribute :created_at, :format => :short
        = business.attribute :updated_at, :format => :short
        = business.attribute :expired_date, :format => :short
        - if resource.feedback
          = business.label :feedback
          = show_for resource.feedback do |feedback|
            = feedback.attributes :category_text, :body,
                                  :state_text,
                                  :result, :handler_name, :handle_at
            = feedback.attribute :updated_at, :format => :short
        - else
          = business.attribute :feedback
        - if resource.evaluation
          = business.label :evaluation
          = show_for resource.evaluation do |evaluation|
            = evaluation.attributes :star_rating
            = evaluation.attribute :updated_at, :format => :short
        - else
          = business.attribute :evaluation

