%section.tabs.grid_12.leading
  %ul.clearfix
    %li= link_to "Overview", "#"
    %li= link_to "Tab 2", "#"
    %li= link_to "Tab 3", "#"
    %li= link_to "Tab 4", "#"
  %section
    %sction.clearfix
      %header.grid_12.alpha.omega
        %h2 Tabbed Content
      .grid_4.alpha Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      .grid_4 Morbi lacus nibh, ornare in euismod id, vulputate at sem.
      .grid_4.omega Sed lacus nunc, gravida sed auctor vitae, faucibus ultrices erat.
    %section.clearfix
      %header.grid_12.alpha.omega
        %h2 Tab 2
    %section.clearfix
      %header.grid_12.alpha.omega
        %h2 Tab 3
    %section.clearfix
      %header.grid_12.alpha.omega
        %h2 Tab 4

%section.tabs.side.grid_12.leading
  %ul.clearfix
    %li= link_to "Overview", "#"
    %li= link_to "Tab 2", "#"
    %li= link_to "Tab 3", "#"
    %li= link_to "This is a very very long tab title", "#"
  %section
    %section.clearfix
      .grid_4.alpha Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      .grid_4 Morbi lacus nibh, ornare in euismod id, vulputate at sem.
      .grid_4.omega Sed lacus nunc, gravida sed auctor vitae, faucibus ultrices erat.
    %section.clearfix Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    %section.clearfix Morbi lacus nibh, ornare in euismod id, vulputate at sem.
    %section.clearfix Sed lacus nunc, gravida sed auctor vitae, faucibus ultrices erat.