#log_form
  = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form2" }) do |f|
    #form_bg_top
    #form_bg_mid
      #form
        = raw("邮&nbsp&nbsp&nbsp&nbsp箱：")
        = f.email_field :email, :id => "username"
        %br
        = raw("密&nbsp&nbsp&nbsp&nbsp码：")
        = f.password_field :password, :id => "psw"
        %br
        = f.submit :id => "submit_bt", :type => "image", :src => image_path("design/submit_buttun.jpg")
        %br
    #form_bg_foot

