%header.container_12.clearfix
  .grid_12
    %h1= t("web.page.show", :model => resource_class.model_name.human)

%section.container_12.clearfix
  .portlet.grid_12
    %header
      %h2= resource.title rescue resource.name
      - unless @show_colorbox
        = link_to t("web.page.back_to_list"), [:admin, resource_class.name.underscore.pluralize], :class => "button"
        - if can? :edit, resource
          = link_to t("web.page.edit_this"), [:edit, :admin, resource], :class => "button"

    %section
      = show_for resource do |item|
        = item.attributes :id, :title, :permalink, :top_text, :category_text, :user_name
        = item.attribute :content do
          = raw resource.content
        = item.attribute :created_at, :format => :short
        = item.attribute :updated_at, :format => :short
        = item.association :attachments do |attachment|
          = show_for attachment do |attachment|
            = attachment.attributes :name, :describtion, :data_content_type, :data_file_size

