%table.list_table.display
  %thead
    %tr
      %th= ta Department, :id
      %th= ta Department, :name
      %th= ta Department, :describtion
      /%th= ta Department, :ancestry
      %th= t(:operations)

  %tbody
    - departments.each do |department|
      %tr
        %td= department.id
        %td= department.name
        %td= truncate department.describtion, :length => 20
        /%td= department.ancestors.map{|x| x.name}.join(",")
        %td
          = link_to t(:show), [:admin, department], :title => t(:show), :class => "show"
          = link_to t(:edit), [:edit, :admin, department], :title => t(:edit), :class => "edit"
          = link_to t(:delete), [:admin, department], :title => t(:delete), :class => "delete",
                                                      :method => :delete, :confirm => t(:delete_confirm)

