%header.container_12.clearfix
  .grid_12
    %h1= t("web.page.show", :model => Department.model_name.human)

%section.container_12.clearfix
  .portlet.grid_12
    %header
      %h2= @department.name
      = link_to t("web.page.back_to_list"), [:admin, resource_class.name.underscore.pluralize], :class => "button"
      = link_to t("web.page.edit_this"), [:edit, :admin, resource], :class => "button"

    %section
      = show_for @department do |department|
        = department.attributes :id, :name, :describtion
        = department.attribute :created_at, :format => :short
        = department.attribute :updated_at, :format => :short
        = department.association :users do |user|
          = link_to user.name, [:admin, user]
          = raw " | "
        = department.association :services do |service|
          = link_to service.name, [:admin, service]
          = raw " | "

