%header.container_12.clearfix
  .grid_12
    %h1 密码修改

%section.container_12.clearfix
  .portlet.grid_12
    %header
      %h2 密码修改

    %section
      = simple_form_for @user, :url => user_registration_path(), :method => :put, :html => {:multipart => true, :class => "form has-validation"} do |f|
        = f.input :current_password, :required => true
        = f.input :password, :required => true
        = f.input :password_confirmation, :required => true

        .form-action
          = f.button "submit"

