#log_form
  = form_for(resource, :as => resource_name, :url => user_registration_path, :html => { :class => "form2" }) do |f|
    #form_bg_top
    #form_bg_mid
      #form
        = render "shared/error_messages", :target => resource
        = raw("邮&nbsp&nbsp&nbsp&nbsp箱：")
        = f.email_field :email, :id => "username"
        %br
        = raw("姓&nbsp&nbsp&nbsp&nbsp名：")
        = f.text_field :name, :id => "username"
        %br
        = raw("密&nbsp&nbsp&nbsp&nbsp码：")
        = f.password_field :password, :id => "psw"
        %br
        = raw("确认密码：")
        = f.password_field :password_confirmation, :id => "psw"
        %br
        = show_simple_captcha
        %br
        = f.submit :id => "submit_bt", :type => "image", :src => image_path("design/reg.jpg")
        %br
    #form_bg_foot

