#log_form
  = simple_form_for(resource, :as => resource_name, :url => user_registration_path, :validate => true) do |f|
    #form_bg_top
    #form_bg_mid
      #form
        = f.error_notification
        .inputs
          = f.input :email, :required => true, :autofocus => true
          = f.input :username, :required => true, :autofocus => true
          = f.input :name, :required => true, :autofocus => true
          = f.input :password, :required => true
          = f.input :password_confirmation, :required => true
        .actions
          = f.button :submit, "注册"
          = link_to "登录", new_user_session_path
          = link_to "忘记密码?", new_user_password_path
    #form_bg_foot

