#head
  #logo_1
    = image_tag "design/logo_1.jpg"
  #logo_2
    - if current_user
      %span
        = raw "欢迎您:%s" % (link_to current_user.name, edit_user_registration_path, :title => "个人中心")
      %span
        &nbsp&nbsp
      %span
        = link_to "注销账户", destroy_user_session_path, :method => :delete
      %span
        = link_to "后台管理", admin_root_path
    - else
      = link_to "登录", new_user_session_path
      = link_to "注册", new_user_registration_path
      = link_to "忘记密码", new_user_password_path

  #top_menu
    #menu_bg_left
    #menu_bg_mid
      %ul#menu_list
        %li#a1= link_to "首页", root_path
        %li#a2= link_to "部门简介", department_about_path
        %li#a3= link_to "新闻公告", [:posts]
        %li#a4= link_to "业务办理", [:new, :business]
        %li#a5= link_to "软件下载", [:softwares]
        %li#a6= link_to "业务介绍", [:services]
    #menu_bg_right
    .clear

