%header.container_12.clearfix
  .grid_12
    %h1= t("web.page.add_feedback", :model => Feedback.model_name.human)

%section.container_12.clearfix
  .portlet.grid_12
    %header
      %h2= resource.title rescue resource.name
      - unless @show_colorbox
        = link_to t("web.page.back_to_list"), [resource_class.name.underscore.pluralize], :class => "button"

    %section
      = simple_nested_form_for  resource, :url => [:add_feedback, resource],
                          :html => {:multipart => true, :class => 'form has-validation'} do |f|
        = f.simple_fields_for :feedback, resource.feedback do |f_feedback|
          = render 'admin/businesses/fields_add_feedback', :f => f_feedback

        .form-action
          = f.button "submit"

= content_for :javascript do
  = include_kindeditor_if_needed :lang => :zh_CN, :cache => true

