%header.container_12.clearfix
  .grid_12
    %h1= t("web.page.show", :model => User.model_name.human)

%section.container_12.clearfix
  .portlet.grid_12
    %header
      %h2= @user.name
      - unless @show_colorbox
        = link_to t("web.page.back_to_list"), [:admin, resource_class.name.underscore.pluralize], :class => "button"
        - if can? :update, resource
          = link_to t("web.page.edit_this"), [:edit, :admin, resource], :class => "button"

    %section
      = show_for @user do |user|
        = user.attributes :id, :name, :email, :gender, :phone_number, :location, :about, :department_name
        = user.attribute :avatar do
          = image_tag(@user.url)
        = user.attribute :created_at, :format => :short
        = user.attribute :updated_at, :format => :short

