= render "layouts/admin_head"

%body(style="overflow: hidden;")
  = render "admin/shared/loading"

  #wrapper
    /= custom_render("main_menu")
    = render "admin/shared/main_menu"

    %section
      /= custom_render("sidebar")
      = render "admin/shared/sidebar"
      %section
        = render "admin/shared/messages"
        = yield
        = render "admin/shared/footer"

= render "admin/shared/javascripts"

